.material-symbols-outlined.wh {
    color: #fff;
}
.material-symbols-outlined.bl {
    color: #000;
}
.material-symbols-outlined.sml {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}
.material-symbols-outlined.mid {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined.big {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 32
}
.material-symbols-outlined.symbol {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 100
}